In [ ]:
## 1. IMPORT LIBRARIES
import pandas as pd
import numpy as np

In [2]:
##2. LOAD DATA
file_path = r"C:\Users\Deepak khadka\Desktop\DA INTERVIEW PORTOFOLIO\Projects\Project-1_Business-Ops-KPI\data\raw\Retail-Supply-Chain-Sales-Dataset.xlsx"

df = pd.read_excel(file_path)

In [5]:
##3. BASIC CHECKS
print("Shape:", df.shape)
df.head()
df.info()
df.isna().sum()

Shape: (9994, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               9994 non-null   int64
 1   Order ID             9994 non-null   object
 2   Order Date           9994 non-null   datetime64[ns]
 3   Ship Date            9994 non-null   datetime64[ns]
 4   Ship Mode            9994 non-null   object
 5   Customer ID          9994 non-null   object
 6   Customer Name        9994 non-null   object
 7   Segment              9994 non-null   object
 8   Country              9994 non-null   object
 9   City                 9994 non-null   object
 10  State                9994 non-null   object
 11  Postal Code          9994 non-null   int64
 12  Region               9994 non-null   object
 13  Retail Sales People  9994 non-null   object
 14  Product ID           9994 non-null   object
 15  Category             9994 non-null   object
 16  Sub-Category         9994 non-null   object
 17  Product Name         9994 non-null   object
 18  Returned             9994 non-null   object
 19  Sales                9994 non-null   float64
 20  Quantity             9994 non-null   int64
 21  Discount             9994 non-null   float64
 22  Profit               9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 1.8+ MB

Row ID                 0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Retail Sales People    0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Returned               0
Sales                  0
Quantity               0
Discount               0
Profit                 0
dtype: int64

In [6]:
##4. STANDARDISE COLUMN NAMES
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
      .str.replace("-", "_")
)

list(df.columns)

['row_id',
 'order_id',
 'order_date',
 'ship_date',
 'ship_mode',
 'customer_id',
 'customer_name',
 'segment',
 'country',
 'city',
 'state',
 'postal_code',
 'region',
 'retail_sales_people',
 'product_id',
 'category',
 'sub_category',
 'product_name',
 'returned',
 'sales',
 'quantity',
 'discount',
 'profit']

In [7]:
##5. DATE COLUMNS
df[["order_date", "ship_date"]].dtypes

order_date    datetime64[ns]
ship_date     datetime64[ns]
dtype: object

In [12]:
##6. CREATE OPERATIONS METRICS

#6.1 Delivery Time (Days)
df["delivery_days"] = (df["ship_date"] - df["order_date"]).dt.days

#6.2 SLA Definition
df["sla_days"] = 7

#6.3 Delay Calculation
df["delay_days"] = df["delivery_days"] - df["sla_days"]

#6.4 Delivery Status
df["delivery_status"] = np.where(df["delay_days"] <= 0, "On-Time", "Delayed")

In [16]:
## 7. KPI CALCULATIONS

#7.1 SLA Compliance %
sla_compliance = (
    df["delivery_status"]
    .value_counts(normalize=True)
    .mul(100)
    .round(2)
)

sla_compliance

#7.2 Average Delivery Time
avg_delivery_time = df["delivery_days"].mean().round(2)
avg_delivery_time

#7.3 Delay Rate by Region
delay_by_region = (
    df.groupby("region")["delivery_status"]
      .apply(lambda x: (x == "Delayed").mean() * 100)
      .round(2)
      .reset_index(name="delay_percentage")
)

delay_by_region


#7.4 Delay Rate by Category
delay_by_category = (
    df.groupby("category")["delivery_status"]
      .apply(lambda x: (x == "Delayed").mean() * 100)
      .round(2)
      .reset_index(name="delay_percentage")
)

delay_by_category

          category  delay_percentage
0        Furniture             30.08
1  Office Supplies             30.00
2       Technology             30.70

In [17]:
##8. SAVE CLEAN DATA
processed_path = r"C:\Users\Deepak khadka\Desktop\DA INTERVIEW PORTOFOLIO\Projects\Project-1_Business-Ops-KPI\data\processed\cleaned_operations_data.csv"

df.to_csv(processed_path, index=False)

processed_path

'C:\\Users\\Deepak khadka\\Desktop\\DA INTERVIEW PORTOFOLIO\\Projects\\Project-1_Business-Ops-KPI\\data\\processed\\cleaned_operations_data.csv'